{% extends "index.html" %}
{% block title %}Orders{% endblock %}

{% block content %}
{% set status_colors = {
    'Pending': 'bg-warning text-dark',
    'Shipped': 'bg-primary',
    'Delivered': 'bg-success',
    'Cancelled': 'bg-danger',
    'Received': 'bg-info text-dark',
} %}

<div class="container mt-4 p-4">
<h2 class="mb-4 text">
  <i class="bi bi-bag-check"></i> Orders Dashboard</h2>
<a href="/orders/add" class="btn btn-primary mb-3">
  <i class="bi bi-plus-circle"></i> Add Order
</a>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Order ID</th>
      <th>Customer</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Status</th>
      <th>Expected Delivery</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order['po_id'] }}</td>
            <td>{{ order['supplier_name'] }}</td>
            <td>{{ order['item_name'] }}</td>
            <td>{{ order['quantity_ordered'] }}</td>
            <td>{{ order['order_date'] }}</td>
            <td><span class="badge {{ status_colors[order['status']] }}">{{ order['status'] }}</span></td>
            <td>{{ order['expected_delivery_date'] }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
